amqp==5.3.1
asgiref==3.9.2
beautifulsoup4==4.14.2
celery==5.6.3
certifi==2025.10.5
Django==5.2.17
django-cors-headers==4.9.0
django-crontab==0.7.1
django-debug-toolbar==6.3.0
django-elasticsearch-dsl==7.4
django-silk==5.5.0
djangorestframework==3.17.2
elasticsearch==7.17.13
elasticsearch-dsl==7.4.1
gprof2dot==2021.2.21
gunicorn==23.0.0
idna==3.15
Jinja2==3.1.6
kombu==5.6.1
MarkupSafe==2.1.5
matplotlib==3.10.7
numpy==1.26.4
Pillow==12.3.0
psycopg2-binary==2.9.10
Pygments==2.20.0
python-dateutil==2.9.0.post0
redis==5.2.1
requests==2.33.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.4
urllib3==2.7.0
wordcloud==1.9.4
